html, body, #root {
  height: 100%;
}

* {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34344F;
  color: white;
}

*:disabled { cursor: not-allowed !important }

button {
  cursor: pointer;
  border: none;
  font-size: 18px;s
  font-weight: 100;
  color: #FFFFFF;
  padding: 18px 50px;
  border-radius: 4px;
  background-color: #5C58CA;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

img {
  max-width: 100%;
}

section {
  position: relative;
  top: -20%;
}

a {
  color: white;
  text-decoration: none;
  display: inline-block;
}
a:hover {
  color: white;
  text-decoration: underline;
}
a.external {
  text-decoration: underline;
}

h4 {
  margin: 0 auto;
  font-size: 36px;
  color: white;
}

h6 {
  font-size: 20px;
}

.loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid white;
  border-top-color: white;
  margin: auto;
  animation: spin 1s infinite linear;
}
.loading--double {
  border-style: double;
  border-width: 5.5rem;
}

@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}
@keyframes GradientScroll {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
