html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(-135deg, #232323 0%, #666666 100%);
  color: white;
}

*:disabled { cursor: not-allowed !important }

button {
  cursor: pointer;
  background: #33C273;
  border: 2px solid #33C273;
  border-radius: 4px;
  font-size: 18px;
  color: #FFFFFF;
  padding: 5px 25px;
}

img {
  max-width: 100%;
}

section {
  position: relative;
  top: -10%;
}

a {
  color: white;
  text-decoration: none;
  display: inline-block;
}
a:hover {
  color: #33C273;
  text-decoration: underline;
}
a.external {
  text-decoration: underline;
}

h4 {
  margin-top: 0;
  font-family: Avenir-Heavy;
  font-size: 30px;
  color: #33C273;
}

h6 {
  font-size: 20px;
}

.loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid white;
  border-top-color: #33C273;
  margin: auto;
  animation: spin 1s infinite linear;
}
.loading--double {
  border-style: double;
  border-width: 5.5rem;
}

@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}
@keyframes GradientScroll {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
